.card-img-size {
  height: 225px;
  width: 100%;
}

.card-img-inner {
  background: no-repeat center center / cover;
  display: block;
  border-radius: 0.25rem 0.25rem 0 0;
  &::before {
    content: '';
    display: block;
    padding-top: 225px;
  }
}

.card-profile-image {
  height: 50px;
  width: 50px;
}

.detail-img-size{
  overflow: hidden;
}

.detail-img-size img{
  max-width: 100%;
}

.card-title-style {
  text-decoration: underline;
}
.card-title-style a {
  font-weight: bold;
}

.white_space {
  white-space:pre-line;
}

// 記事行数表示制限
.line-limit {
  color: black;
  height: calc(1.5em * 2); /* 制限したい行数が2の場合 */
  line-height: 1.5em; /* heightと同じ値にする */
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
}
.line-limit span {
  margin-right: 1em;
}
.line-limit::before {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 30% /* 背景色 */
  );
  bottom: 0;
  content: "…";
  padding-left: 1em;
  position: absolute;
  right: 0;
}
.line-limit::after {
  background: #fff; /* 背景色 */
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

//tag表示制限
.line-limit-tag {
  color: black;
  height: calc(1.5em * 1); /* 制限したい行数が1の場合 */
  line-height: 1.5em; /* heightと同じ値にする */
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
}
.line-limit-tag span {
  margin-right: 1em;
}
.line-limit-tag::before {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 30% /* 背景色 */
  );
  bottom: 0;
  content: "…";
  padding-left: 1em;
  position: absolute;
  right: 0;
}
.line-limit-tag::after {
  background: #fff; /* 背景色 */
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

// 記事詳細幅
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
}

.alignment {
  display:flex;
}