.slide {
  position: relative;
  width: 100%;
  padding-top: 43%;
  overflow: hidden;
  background-color: #c6c6c6;
}
 
@keyframes slideshow {
  0% {
    opacity: 0;
  }
 
  10% {
    opacity: 1;
  }
 
  28% {
    opacity: 1
  }
 
  38% {
    opacity: 0;
  }
 
  100% {
    opacity: 0;
  }
}
 
.slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  opacity: 0;
  animation: slideshow 24s linear infinite;
}
 
.slide img:nth-child(2) {
  animation-delay: 8s;
}
 
.slide img:last-child {
  animation-delay: 16s;
}

.slide p {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
	font-size:5vw;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	font-weight:450;
}