body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.text-small {
  letter-spacing: 1px;
  font-size: 12px;
}

.info-img-size img {
  max-width: 100%;
  display: block;
  border-radius: 0.25rem;
}

.oper-img-size img {
  max-width: 100%;
  display: block;
  border-radius: 0.25rem;
}

.oper-headline {
  margin-top: 56px;
  margin-bottom: 16px;
  padding-bottom: 6px;
  border-bottom: 1.5px solid #e0e0e0;
}

//mouseover
.mouseover {
  cursor: pointer;
  transition-duration: 0.3s;
}

.mouseover:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.icon-size {
  font-size: 1rem;
  margin-top:0.1rem;
}