body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

//infomation page
.info-img-size {
    position: relative;
    width: 100%;
    padding-top: 50%;
    overflow: hidden;
}

.info-img-size img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

//mouseover
.mouseover {
  cursor: pointer;
  transition-duration: 0.3s;
}

.mouseover:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
}

