body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.text-small {
  letter-spacing: 1px;
  font-size: 12px;
}

.info-img-size img {
  max-width: 100%;
  display: block;
  border-radius: 0.25rem;
}

//operate page
.oper-img-size img {
  max-width: 100%;
  display: block;
  border-radius: 0.25rem;
}

.oper-headline {
  margin-top: 56px;
  margin-bottom: 16px;
  padding-bottom: 6px;
  border-bottom: 1.5px solid #e0e0e0;
}

//profile page
.profile-image {
  overflow: hidden;
  height: 100px;
  width: 100px;
  position: relative;
  border-radius: 50%;
}

.profile-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 100%;
}

.nav-profile-image {
  overflow: hidden;
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: 50%;
  border: solid 0.05rem;
}

.nav-profile-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 100%;
}

.dropdown-item {
  padding: .5rem 1.5rem;
}

//mouseover
.mouseover {
  cursor: pointer;
  transition-duration: 0.3s;
}

.mouseover:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.icon-size {
  font-size: 1rem;
  margin-top:0.1rem;
}

.user-name {
  color: #bbb;
  padding: 0.25rem 1.5rem;
  cursor: default;
  pointer-events: none;
}